:root{
    --main-font:'Roboto', sans-serif;
    --secondary-font:'Raleway', sans-serif;
    --main-color: #212121;
    --secondary-color:#757575;
    --color-accent: #2196F3;
    --color-accent-2: #FFFFFF;
    --main-background:#2F303A;
    --super-black-color:#000;
}

.body{
    font-family:var(--main-font);
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.03em;
}

a {
    text-decoration: none;
  }
  
ul {
    list-style: none;
  }

/*===========Header========*/
.logo{
    font-family:var(--secondary-font);
    font-weight: 700;
    font-size: 26px;  
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.navigation-text{
    color:var(--main-color);
    letter-spacing: 0.03em;
}

.email-header,
.phone-header{
    color:var(--secondary-color);
}
.navigation-text,
.email-header,
.phone-header{
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.list{
    list-style-type: none;
}

.navigation-text:hover,
.contacts-header-item .link:hover,
.contacts-header-item .link:focus{
    color: #2196F3;
 }

/*==========End Header=========*/
/*===========Booking =====*/

.booking-section{   
    background: var(--main-background);
}

.visually-hidden {
    font-family: var(--main-font);
    font-weight: 700;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }


.main-title{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;    
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--color-accent-2);
}


 .button{
    font-family: var(--main-font);
    color: var(--color-accent-2);
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    background: #2196F3;

 }
/*===========End Booking=====*/

/*===========Characteristics=====*/

.undertitle{
    font-family: var(--main-font);
    font-style:normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color:var(--main-color);
    letter-spacing: 0.03em;

}

.character-name{
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color:var(--main-color);
    letter-spacing: 0.03em;
}
.service-item-description{
    font-family: var(--main-font);
    font-weight:normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-color);
    letter-spacing: 0.03em;
}
  /*===========End Characteristics=====*/

/* OUR TEAM*/

.member-name,
.position{
    font-family: var(--main-font);
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}
.member-name{
    font-weight:500;
    color:var(--main-color);
}

.position{
    font-weight:400;
    color: var(--secondary-color);
}

/* end of the OUR TEAM*/
/* Footer*/

.footer{
    background:var(--main-background);
    }

.adress-footer,
.email-footer,
.phone-footer{
    font-family: var(--main-font);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:rgba(255, 255, 255, 0.6);
}

.adress-footer:hover,
.email-footer:hover,
.phone-footer:hover{
    color:#FFFFFF ;
}

.link{
    font-style:normal;
}
/* End of Studio-design */

/* beginning of portfolio design*/

.button-name{
    background-color:#F5F4FA;
}

.button-name:hover{
    background-color:var(--color-accent);
    color:#FFFFFF;
}

.button-item {
    font-family: var(--main-font);
    font-style:normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color:var(--main-color);
}
  
.project-name{
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color:var(--main-color);
    letter-spacing: 0.06em;
}

.project-link{
    font-family: var(--main-font);
}
  
.area {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}
.adress-footer{
    color: #FFF;
}
/* end of portfolio*/
